*{
    padding: 0px;
    margin:0px;
    background-color: #F8FAFC;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F3F4F6;
}
#container{
    height:480px;
    width:350px;
    background-color: #FFFFFF;
    border:1px solid #E2E8F0;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1);
    margin-left: 500px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}
#container #header{
    height:60px;
    text-align: center;
}
#header h2{
    color:#0F172A;
    padding-top: 10px;
}
#header p{
    color:#64748B;
    font-size: small;
    padding-top: 10px;
}
#container #AmountBox{
    height:80px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#AmountBox b{
    color:#334155;
    font-weight: medium;
    padding-top: 10px;
    padding-left: 5px;
}
#AmountBox input{
    background-color: #F1F5F9;
    color:#0F172A;
    width:300px;
    border:1px solid #CBD5E1;
    margin-top: 8px;
    height:30px;
    margin-left: 10px;
    border-radius: 5px;
    padding-left: 5px;
}
#AmountBox input:focus{
    border:2px solid #2563EB;
}
#container #Converter{
    height:20px;
    margin-top: 25px;
}
#container #Swapper{
    height:30px;
    margin-top: 10px;
}
#container #ConvertButton{
    height:30px;
    margin-top: 10px;
}
#container #Dashboard{
    height:30px;
    margin-top: 10px;
}
#container #Converter{
    height:15px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 80px;
    justify-content: space-between;
    color:#0F172A;
    font-size: 13px;
}
#container #Swapper{
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
}
#container #Swapper #from_board select{
    height:30px;
    background-color: #F3F4F6;
    color:#1E3A8A;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 12px;
    margin-top: 8px;
    cursor: pointer;
}
#container #Swapper #from_board select:focus{
    border-color: indigo;
    outline: none;
    border-width: 2px;
}
#container #Swapper #swap_button i{
    height:20px;
    width:25px;
    background-color:#0F172A;
    color:white;
    margin-top: 11px;
    padding-top: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: small;  
}
#container #Swapper #To_board select{
    height:30px;
    background-color: #F3F4F6;
    color:#1E3A8A;
    font-size: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 12px;
    margin-top: 8px;
    cursor: pointer;   
}
#container #Swapper #To_board select:focus{
    border-color:indigo;
    outline: none;
    border-width: 2px;
}
#container #ConvertButton{
    background-color: white;
    margin-top: 30px;
    text-align: center;
    height: 60px;
}
#container #ConvertButton button{
    background-color:#022c5c;
    color:white;
    height:40px;
    width:130px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
#container #Dashboard{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color:  #FFFFFF;
}
#container #Dashboard #EnterAmount{
    height:20px;
    width:120px;
    background-color: #EFF6FF;
    color:#1E3A8A;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 4px;
    margin-left: 60px; 
}
#container #Dashboard #EnterAmount pre{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#container #Dashboard #ConvertedAmount{
    height:20px;
    width:120px;
    background-color: #EFF6FF;
    color:#1E3A8A;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 4px;
}